@import "tailwindcss";

:root { 
      /* Colors */
  --color-primary: #0047BB;
  --color-secondary: #4A5568;
  --color-text: #B4BBC3;
  --color-neutral-bg: #F7FAFC;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-border: #E2E8F0;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.08),
               0 2px 4px -2px rgba(0, 0, 0, 0.06);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-white);
 
}
